[2016-02-05 12:00] MarcinKosinski opened #1 "Propositions of new functions/functionalities"

[2016-02-05 12:01] MarcinKosinski opened #2 "Who rewrites which functions?"
[code]

[2016-02-05 12:02] MarcinKosinski opened #3 "Sponsorship : ideas"
- WCO [assignee : @MarcinKosinski]
- European Union

Any more ideas? Once can edit my question.

[2016-02-05 14:22] MarcinKosinski opened #4 "Add package skeleton"
Like here http://r-pkgs.had.co.nz/package.html

@Quares you could try to do this, since whis will be new for you

[2016-02-05 19:01] zzawadz opened #5 "Minimum viable product"

[2016-02-05 19:11] zzawadz commented on #5
We should think a little about most useful parts of our new package, and create them first.

I would be hard to rewrite everything randomly and then tries to put everything together;)

So, I think we should select all those parts that are needed to create something working and useful. And based on this we can create interface and internal bones of our package.

For me - first version should
- work

[2016-02-07 15:44] zzawadz commented on #4
I added simple skeleton, but someone is needed to fill Description file;)

[2016-02-07 18:10] MarcinKosinski commented on #5
I think you should mention all collaborators with `@` to ensure everyone got an e-mail.
@ItAlja
@Quares

[2016-02-07 18:12] MarcinKosinski commented on #5
I think all included in `information.gain`/`gain.ratio`/`symmetrical.uncertinaty` for a good start. So basically an `entropy`.

[2016-02-07 18:13] MarcinKosinski commented on #4
We'll finished `DESCRIPTION` at the end. As it is done with `introduction` to master thesis :)

[2016-02-07 18:13] #4 closed

[2016-02-08 07:18] zzawadz commented on #5
Ok. I have started some coding. For now new entropy function is ready, now I'm working on discretization in c++.  It should be done by the end of this week (so we will have everthing to port information.gain for data.frame).

When I will finish discretization I will try to create some docs for you;) Beacuse c++ is static typing language we have to use a lots of templates to support different R typ

[2016-02-08 07:18] zzawadz opened #6 "Sparse data set"

[2016-02-08 07:21] zzawadz commented on #6
@MarcinKosinski can you provide example of sparse data set? We need one for examples and for developing.

[2016-02-08 10:07] Quares commented on #5
I know what templates are.

About R types, I thought Rcpp is handling that when moving between R and C++.

I have coded discretization a couple of times in R and I am not sure whether it needs to be ported to C++ for speed. Remember that using C++ function requires to copy/move data between R and C++, so this sometimes gives and additional overhead, which might have an influence on the performance

[2016-02-08 10:15] MarcinKosinski commented on #6
Sure. Give me a second.

[2016-02-08 10:19] MarcinKosinski commented on #6
# Creating from scratch

[code]

# Converting from regular objects

http://stackoverflow.com/a/10555270/3857701

# Usage of sparse matrix in `glmnet`
- http://web.stanford.edu/~hastie/glmnet/glmnet_alpha.html#spa
- http://www.r-bloggers.com/genetic-data-large-matrices-and-glmnet/

# Further reading

http://www.johnmyleswhite.com/notebook/2011/10/31/using-sparse-matrices-in-r/

[2016-02-08 10:24] MarcinKosinski commented on #5
I think this is the current implementation in regular `FSelector`... NOT

The currents is:

[code]

PS : @zzawadz you don't need to always use `@` - if this is done one in th thread, then always people will receive notifications

[2016-02-08 10:38] Quares commented on #5
Marcin, I just posted my suggestion on how discretization could be achieved in `R` with `base` functions. The point was that it might not need to be ported to C++.

PS. Is the implementation of `equal.frequency.binning.discretization` in the current release of FSelector?

[2016-02-08 10:43] Quares commented on #4
Sorry, I joined the Repo only yesterday and did not receive a notification that I was assigned to this one.

[2016-02-08 10:47] Quares commented on #5
PS2. OK guys, I think I am delusional here. The whole point of this package is to have C++ implementation of FSelector :D

[2016-02-08 10:51] MarcinKosinski commented on #4
No problemo compadre

2016-02-08 11:43 GMT+01:00 Kamil notifications@github.com:

[2016-02-08 10:53] MarcinKosinski opened #7 "Overall vignette a'la rticle"
One could start writing a vignette in which we could so far sum up our motivation for this project, and after version `0.0.1` is finished we could provide an example of performance progress in the `information.gain` function.

[2016-02-08 10:56] MarcinKosinski commented on #5
I've posted what is already implemented in FSelector :P
If your snippet of code does the same and is faster than it's good!
If c++ implementation would be faster than yours, that's even better! Remember to test performance on `sparse.matrixes` and regular data.frames/matrix that are above 1GB size - this might be the situation in which base R is not enought :)

[2016-02-08 11:15] zzawadz commented on #5
By discretizastion I mean MDL algorithm - this is this Weka (and Java) stuff. So we need to port this to c++.

And also - moving data to c++ does not require copies. You are sending pointers to data structures - it is not Java:)

[2016-02-08 11:18] zzawadz commented on #6
Oki. So our interface should be similar to glmnet?

[2016-02-08 11:42] MarcinKosinski commented on #5
Maybe we'll create a new hashtag on twitter #R_is_free_of_Java ?

2016-02-08 12:15 GMT+01:00 Zygmunt Zawadzki notifications@github.com:

[2016-02-08 11:44] MarcinKosinski commented on #6
I think regular `formula` interface is more robust and popular. If this is
possible for sparse support then I'll suggest sticking to `formula`
inferace. `glmnet` has parameter inferface

2016-02-08 12:18 GMT+01:00 Zygmunt Zawadzki notifications@github.com:

[2016-02-08 11:49] ItAlja commented on #5
@zzawadz unfortunately I've never heard about templates in c++ you mentioned. I don't have experience here. But I'll learn, for sure. (:

[2016-02-08 11:53] MarcinKosinski commented on #2
@ItAlja maybe you could have a look at `cfs filter` (correlation feature selection) algorithm ?

which

or you could have a look at `best.first.search` itself?

[code]

The main goal for now is to have a look at the base code and decide whether this can be reimplemented, what are the cons of those implementation (so that we can extend our motivation in vignette) and basically what is done under th

[2016-02-08 11:56] MarcinKosinski commented on #2
@Quares do you think those functionalities:

[code]

could be merged in one function (even under better name)?

More over could you provide summary of what those functions do? What are they purpose and of course CONS, and maybe do you have any ideas on how C++ implementation could make benefit for those functions. Do this little subset of functions can be somehow extended?

[2016-02-08 11:58] MarcinKosinski commented on #5
Me neither [https://en.wikipedia.org/wiki/Template_%28C%2B%2B%29] but i thought Rcpp solves such problems (or we are not using Rcpp anywhere?).

[2016-02-08 12:02] zzawadz commented on #5
I will prepare docs with everything that is needed to work Rcpp, R and templates:)

Stay calm!

[2016-02-08 12:16] MarcinKosinski commented on #5
So maybe it could also be a simple R+C++/Rcpp tutorial as a small vignette
in our package?
Such tutorial with an example on how we have implemented one function could
use the `rlp` form of creating a package http://yihui.name/rlp/

PS: Just in case, I am only a dreamer

2016-02-08 13:02 GMT+01:00 Zygmunt Zawadzki notifications@github.com:

[2016-02-08 12:37] ItAlja commented on #2
@MarcinKosinski OK. I'll take a look at both.

[2016-02-08 15:33] zzawadz commented on #5
Of course we do not need to rewrite whole package in c++. We have to create some (a lot of...) benchmarks for FSelector, and rebuild only vital things:) I just love c++, and it might be hard for me to left some functions in pure R;)

For now - I will port this discretization to cpp, and then I will be working on sparse matricies. Everyone should feel free to do some coding in R, beacuse we have to

[2016-02-08 16:08] zzawadz commented on #6
Oki. Fine. Thanks:)

I have one more question - what is stored in columns? Values that we should treat as a factor, numeric variables (and we need to discretize them) or counts (sth similar to result of a table function?)

[2016-02-08 19:48] MarcinKosinski commented on #6
If a matrix contains only numeric variables than it is hard to store them in sparse format (but it should be discretized to make entropy calculations easier). If a Column contains a discrete variable with many levels than it can be changed to dummy variables with sparse.matrix.model function. I think we can provide a mechanism that would change inputed that into sparse.model.matrix if special para

[2016-02-10 17:31] MarcinKosinski commented on #2
I'll have a look at `OneR` algorithm that uses association rules involving only one attribute in condition part + `consistency` - Consistency-based filter that inds attribute subset using consistency measure for continous and discrete data.

[2016-02-19 23:28] ItAlja commented on #1
Hi All !

Have youe ever heard about doSNOW package ?

Why do I mention it ?... This packages is using for multi-core training i.e. this is helpful as we're going to be train a lot of trees (cross validation). Inside doSNOW package we have nice function calling `makeCluster` - using this function I can say to my system: please work parallely.

Maybe this packages could be useful for us as well ?

[2016-02-22 13:18] MarcinKosinski commented on #1
There's also even `parallel` package in the `base R` with `mclapply` function that has the same syntax as regular `lapply`.

Source: http://adv-r.had.co.nz/Functions.html

[2016-02-22 14:11] Quares commented on #1
For parallelization i recommend "foreach" package developed by
Revolutionary R.

For training lots of trees, it would be helpful employ "ranger" package -
developed with the runtime optimization in mind.

Cheers,
K

On Mon, Feb 22, 2016 at 2:18 PM, Marcin Kosiński notifications@github.com
wrote:

[2016-02-22 16:14] MarcinKosinski commented on #1
True. Boruta uses ranger:
https://cran.r-project.org/web/packages/ranger/index.html

2016-02-22 15:11 GMT+01:00 Kamil notifications@github.com:

[2016-02-25 23:01] zzawadz commented on #5
Oki. information_gain is now fully in cpp (without NA support - I need some time to think on this..., but with discretisation - so we are JAVA free:)):

Some code to tests:

[code]

Some results:

[code]

Now - I have to do some code cleaning, and create some docs;)

[2016-02-25 23:04] zzawadz opened #8 "Create functions for entropy based filters"
We have all building blocks to create following functions on R side:

[code]

For now - they should work only with data.frames without NA's (I'am working on this on the c++ side).

Any volunteer?

[2016-02-25 23:14] ItAlja commented on #8
If only I can help somehow -> I'll do !
First of all I'll send to you some conclusion about `cfs filter` and `best.first.search` as I promised.

sorry for delay, I was sick and then I had to catch up with my work.

[2016-02-26 08:16] MarcinKosinski commented on #5
Great! Looks nice.

Have You considered do.call(bind_rows,.) instead of Reduce(rbind,.) ?

Marcin Kosinski

Dnia 26.02.2016 o godz. 00:01 Zygmunt Zawadzki notifications@github.com napisał(a):

[2016-02-26 09:07] zzawadz commented on #5
Wow! do.call(bind_rows,.) is awsome:)

[2016-02-26 12:05] MarcinKosinski commented on #5
Talking about handling `NA` maybe we should remove such rows and provide an
information that user should himself handle NAs? Like in ggplot2?

2016-02-26 10:07 GMT+01:00 Zygmunt Zawadzki notifications@github.com:

[2016-02-26 12:24] zzawadz commented on #5
Yeah, but NA handling should be quite easy - there is nice std::isnan, and it is compatible with R's NA

[code]

[2016-02-27 12:40] zzawadz opened #9 "Handling NA's"
I think we should add support for NA (and I am working on this).

It should be just 10% time overhead - so I don't think that is a big deal:)

[2016-02-27 22:47] zzawadz commented on #9
I added support for NA in fs_discretize - but only for independent variable.

NA for dependent variable is far more tricky, so I need to think a little:)

[2016-02-28 13:53] MarcinKosinski commented on #5
Talking about coercing to factors:
https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/R/information_gain.R#L12-L15

did you know:

[code]

[2016-02-28 13:55] MarcinKosinski commented on #9
In which file I can check this support on in which commit? did you know you can add `mention #9` messages to commit so that your commits will appear in the issue tree?

[2016-02-28 13:55] MarcinKosinski commented on #9
example: git add commit -m "added support for NAs #9"

[2016-02-28 21:11] MarcinKosinski commented on #8
Those are almost the same functions. Maybe we should only have `information_gain` as the implementation of `FSelector:::information.gain.body`

[2016-02-28 21:21] #6 closed

[2016-03-02 23:37] MarcinKosinski commented on #3
A może google scholar?
@zzawadz  @ItAlja @Quares

http://www.r-bloggers.com/r-projects-at-google-summer-of-code-2016/

[2016-03-03 23:09] ItAlja commented on #3
Good idea !

[2016-03-03 23:21] MarcinKosinski commented on #3
So we should submit this project with description but we need to have 2 tutors (I have no idea whether they'll get paid) and submit person who'll receive payment (but they need to be students:P).

I can submit some overview of the project. Is there anyone, besides me, who's still a student?

[2016-03-03 23:59] Quares commented on #3
Guys,

It basically works the other way around.

People who submit proposals are called "mentors". Only mentors from the
pre-chosen organizations can upload proposals. The org application ended on
19th Feb. Furthemore, the soft-deadline for proposals submissions was on
the 1st of March.

Now, with proposals already approved, everyone can sign-up to take part in
this project. Once chosen, such a pe

[2016-03-04 08:57] zzawadz commented on #3
And we are not students:)

[2016-03-04 09:45] Quares commented on #3
Like I mentioned. I don't think that you need to be an academic student
(most likely it is actually even better if you aren't). It's just a figure
of speech.

On Fri, Mar 4, 2016 at 9:57 AM, Zygmunt Zawadzki notifications@github.com
wrote:

[2016-03-04 10:01] ItAlja commented on #3
Sometimes 'student' means any of person who would like take a part in the particular project. Anyway, not this time. Detailed info is here:
https://developers.google.com/open-source/gsoc/faq

[2016-03-04 10:15] Quares commented on #3
It seems I was wrong, you actually have to be a 'student':

What are the eligibility requirements for participation?
- You must be at least 18 years of age
- You must be a full or part-time student at an accredited
  https://developers.google.com/open-source/gsoc/faq#accredited university
  (or have been accepted as of April 22, 2016)
- You must be eligible to work in the country you will reside i

[2016-04-13 18:01] MarcinKosinski commented on #2
@DSkrzypiec you can feel free to pick any function as you wish :)

[2016-04-14 05:11] MarcinKosinski opened #10 "Set up travis build"

[2016-04-14 20:47] MarcinKosinski opened #11 "Docs in ReadTheDocs"
Example http://avocado-framework.readthedocs.org/en/latest/index.html

[2016-04-14 20:58] MarcinKosinski commented on #7
Przepisać tę motywację do winietki

# Ale po co w ogóle taki projekt i pakiet?

Selekcja zmiennych w modelach klasyfikacyjnych i regresyjnych, to wciąż aktywne pole badań.
Co chwila powstają nowe pakiety, narzędzia i metody, które są coraz bardziej skomplikowane i skuteczniejsze.

Metody selekcji oparte na entropii nie są nowymi metodami (pierwsza wersja na CRAN pojawiłą się już w 2009 roku https:

[2016-04-15 16:51] zzawadz commented on #8
Oki. I merged them into one - information_gain with parameter `type = c("infogain", "gainratio", "symuncert")`

[2016-04-16 10:39] MarcinKosinski opened #12 "Rewrite cut.off"
Go go super hero :) @DSkrzypiec

[2016-04-17 10:19] DSkrzypiec commented on #12
Function FSelectorRcpp::cutOff_k() merges two functions from FSelector package: cutOff.k and cutOff.k.percent. If k in (0, 1] then cutOff_k() functions works like cutOff.k.percent function from R and when k > 1 then cutOff_k() works as cutOff.k for \floor(k) argument.

[2016-04-18 12:40] MarcinKosinski commented on #10
@zzawadz  have you ever configured travis build for Rcpp-source package?
I have done that for regular packages like here
https://github.com/RTCGA/RTCGA/blob/master/.travis.yml

[2016-04-18 17:31] MarcinKosinski commented on #8
@zzawadz  could you add number of issue to commits ?
like `git commit -m "merge for #8"` - then your change will appear in the issue tree and it will be easier to check what's going on :)

[2016-04-18 17:47] MarcinKosinski commented on #9
@zzawadz I've seen that in `FSelector` they were ommiting rows with NAs in dependent variable. Maybe we should do this the same way?

[2016-04-18 17:48] MarcinKosinski commented on #12
@DSkrzypiec nice, so this is how those 2 functions can be merged in one function :) ? by this `k` parameter

[2016-04-18 19:41] zzawadz commented on #8
Oki. I forgot:(

[2016-04-18 21:27] MarcinKosinski commented on #5
@zzawadz do you think we have minimum viable product :P ?

[2016-04-18 21:34] DSkrzypiec commented on #12
@MarcinKosinski yep, it already has been done :)

[2016-04-18 21:46] DSkrzypiec opened #13 "Rewrite exhaustive.search function"
As first subtask, which could be useful in other tasks, I have rewritten function combn() from R. This function returns matrix of all k-subsets from given set.
C++ template class Subset() doing exactly the same job as R::combn() and it could be found in inst/include/exhaustive.search/Subset.h.

@MarcinKosinski , @zzawadz

[2016-04-18 22:07] MarcinKosinski commented on #13
@zzawadz  you are the main architect here :P

[2016-04-20 07:56] zzawadz commented on #13
Oki.

But rewriting exhaustive.search to c++ might be hard, because we have to evaluate user's function:( `r eval.fun(attributes[as.logical(subset)])` - this line is tricky.

Of course it is possible to pass R function into Rcpp, and then evaluate it (http://gallery.rcpp.org/articles/r-function-from-c++/). But with this approach we might have problem with adding parallel backend.

We should discus

[2016-04-23 08:11] MarcinKosinski commented on #13
Saturday or sunday? I thought we planned discusion fir sunday? :p

Marcin Kosinski

Dnia 20.04.2016 o godz. 09:56 Zygmunt Zawadzki notifications@github.com napisał(a):

[2016-04-25 19:34] MarcinKosinski commented on #11
let stay with jekyll /knitr-jekyll at yihui github

[2016-04-25 19:34] #11 closed

[2016-04-25 20:17] zzawadz opened #14 "Benchmarks and unit tests"
There is a directory for benchmarks - inst/benchmarks, so we can use it:)

For unit test we can use testthat http://r-pkgs.had.co.nz/tests.html - it's simple and easy:)

[2016-04-26 11:05] MarcinKosinski commented on #10
Why it's closed :D ?

2016-04-25 22:07 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-04-26 11:06] MarcinKosinski commented on #10
`https://travis-ci.org/mi2-warsaw/FSelectorRcpp`

2016-04-26 13:05 GMT+02:00 Marcin Kosiński m.p.kosinski@gmail.com:

[2016-04-26 11:10] MarcinKosinski commented on #10
Maybe this would help
https://github.com/mi2-warsaw/FSelectorRcpp/commit/d8b5480d5f7ab7ff441d8bd250e2ce88ae0864e0

[2016-04-26 11:10] MarcinKosinski commented on #14
So for unit tests -> I've changed loading packages in testthat and added them to Suggests in DESC and in travis yaml https://github.com/mi2-warsaw/FSelectorRcpp/commit/d8b5480d5f7ab7ff441d8bd250e2ce88ae0864e0

[2016-04-26 11:14] MarcinKosinski commented on #14
You are testing FSelector against FSelectorRcpp (you are loading them in testthat) so I have to add them do `suggests` in DESCRIPTION`. Maybe it isn't the best idea to test our package against FSelector since we are adding`Suggests`that is way long :P maybe we could have it in`benchmarks`directory which woul dbe added to`.Rbuildignore`and then we could remove`FSelector, RWeka, entropy` from Sugees

[2016-04-26 18:44] MarcinKosinski commented on #10
@zzawadz  @DSkrzypiec  our build have passed finally :)
https://travis-ci.org/mi2-warsaw/FSelectorRcpp/builds/125803166

[2016-04-26 18:44] #10 closed

[2016-05-12 09:10] MarcinKosinski opened #15 "Staticdocs as a project website"

[2016-05-15 20:07] MarcinKosinski commented on #9
I am strongly convinced that handling NAs should be just a simple row removal for those observations that have NA in any feature or explanatory variable. @zzawadz then can we close this issue?

[2016-05-15 20:08] MarcinKosinski commented on #5
@zzawadz I think that handling NAs should be done as mentioned here (https://github.com/mi2-warsaw/FSelectorRcpp/issues/9#issuecomment-219307556). Talking about minimum viable product I think information_gain is enough for ver 0.1.0.

[2016-05-15 20:11] MarcinKosinski commented on #12
Have we agreed that `cutoff.biggest.diff(attrs)` would be included in `cutOff_k()` when k is 0? @DSkrzypiec are you planning to include this feature? Can we then close this issue after a sweet commit :)?

[2016-05-15 20:13] MarcinKosinski commented on #14
OK RWeka/FSelector and other benchmarked packages are in `suggests` section of `DESCRIPTION` file so they will not be installed with FSelectorRcpp during regular package installation.

[2016-05-15 20:13] #14 closed

[2016-05-15 20:28] MarcinKosinski commented on #3
@zzawadz @DSkrzypiec we promote `FSelectorRcpp` package as

so basically if `information_gain` is finished and we'll have final version of `cuttOff_k` (that will also provide an interface to FSelector::cutoff.big.diff https://github.com/mi2-warsaw/FSelectorRcpp/issues/12) then a simple feature selection workflow is available. I  would call this ver 0.1.0.

To provide more complicated algorithms it

[2016-05-16 06:52] zzawadz commented on #9
I'm not sure, but for now it might be a good idea to use this approach:)

I'll update the code in the evening.

[2016-05-16 08:59] MarcinKosinski commented on #9
remember to `message #9` in the commit :)

2016-05-16 8:52 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-05-16 19:13] #9 closed

[2016-05-16 19:22] zzawadz opened #16 "Sparse matrix support"
I have added simple sparse matrix support for information_gain. It assumes that we have sparse matrix with factors (or integers), and dependent variable is also factor (or integer).

For now this hack is just a simple just a simple hack - I convert sparse matrix **column by column** (I don't convert whole matrix - just one column at a time!) to dense format and then apply our standard functions. T

[2016-05-16 21:44] MarcinKosinski opened #17 "is formula2names in utils.R neccessary?"
@zzawadz have you heard about `attr(stats::terms(formula), "term.labels")` that probably does what you want to expect with `formula2names` function?

Check also `attr(stats::terms(formula))`

[2016-05-16 21:46] MarcinKosinski commented on #16
Great news! Good job

[2016-05-16 21:51] MarcinKosinski opened #18 "Build options for roxygen2 + man (documentation)"
I have fixed build options for our project
-> Project -> Project Options -> Build Tools -> [Generate documentation with Roxygen] Configure (it can be also seen in plain text here (https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/FSelectorRcpp.Rproj)

So now, after every build we will receive `man` folder with documentation :P AND ONLY THEN I CAN BUILD A STATICDOCS WEBPAGE as was trying here

[2016-05-16 22:03] MarcinKosinski commented on #16
Is it implemented in `sp_information_gain` https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/R/information_gain.R#L70 ? Can we have one outer function `information_gain` (which would be overloaded for different input classes) that would check the type of `x` matrix and react under the hood variously for data frames and sparse matrixes? What do you think about such simplicity of user interfac

[2016-05-16 22:38] MarcinKosinski commented on #15
@DSkrzypiec @zzawadz I've prepared a static doc documentation (hadley/staticdocs) :) http://mi2-warsaw.github.io/FSelectorRcpp/

If looks funny and empty now (You can see more at the bottom: Help Topics -> FSelectorRcpp) because we almost have no documentation. @zzawadz would you like me to extend manual/documentation and staticdocs while I'll be creating a draft for vignette tommorow :)?

[2016-05-18 14:34] MarcinKosinski commented on #16
Like in `?glmnet::glmnet`

interface :

[code]

[2016-05-19 07:13] zzawadz commented on #17
Oh. Very nice function. Every day I can learn something new:)

[2016-05-19 07:13] #17 closed

[2016-05-19 07:18] #18 closed

[2016-05-19 07:37] zzawadz commented on #16
Oki. I think it's good idea. However in this case we should resign from _(formula = y ~ x1 + x2 + ..., data = data)_ interface - don't think that sticking with two different ways of calling a function is the best idea:)

[2016-05-19 08:39] MarcinKosinski commented on #16
Exactly :) I think `glmnet` formula isn't that bad :< and they have
experience with sparsity (sparse matrixes) :)

2016-05-19 9:37 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-05-19 09:21] zzawadz commented on #16
Oki. I will try to change this interface during my trip do Warsaw:)

[2016-05-20 07:12] zzawadz commented on #13
I will look at this function, and I'll try to propose nice parallel backend. I don't think that we can have significant boost from rewriting this to C++. But small cluster is always nice thing:D

But I need some time to do experiments and read others code.

[2016-05-20 11:53] MarcinKosinski commented on #13
For parallelism you can check the `cv.glmnet/glmnet` parallel USER INTERFACE

[code]

https://cran.r-project.org/web/packages/glmnet/vignettes/glmnet_beta.html#log

2016-05-20 9:12 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-05-23 20:37] zzawadz opened #19 "Authorship?"
@MarcinKosinski
I need to copy one whole function from FSelector (we can't have FSelector in import field, because FSelector depends on Java, and we don't want to have any Java dependency problem).

How we should endorse original function author in our package?

[2016-05-23 21:15] zzawadz commented on #13
@MarcinKosinski could you provide some real test examples for greedy_search and exhaustive_search?

Example from FSelector works pretty well (on my machine:)) with simple parallel backend, but I might missed something...

[2016-05-23 21:36] MarcinKosinski commented on #13
Already added to my life-backlog!

2016-05-23 23:15 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-05-25 06:55] zzawadz opened #20 "No to std::cout"
@DSkrzypiec
If we plan CRAN release we can't use iostream and std::cout in our code:( It's causes this warning in R check:
[code]

I've added special macro to handle this, you need to `#include "../FSelectorConfig.h"`, and then use `FS_OUTPUT` like this
[code]

For now I think it's good solution to satify CRAN:) But feel free to use `std::cout` during development:D

[2016-05-25 20:53] zzawadz commented on #5
I think we only need to add better handling of discretisation function, improve some documentation, and then we will have MVP, that is suitable for CRAN:)

[2016-05-25 22:33] MarcinKosinski commented on #5
I can Try with documentation :) I'll be back in 2 days from holidays

Marcin Kosinski

Dnia 25.05.2016 o godz. 22:53 Zygmunt Zawadzki notifications@github.com napisał(a):

[2016-05-26 12:08] zzawadz commented on #16
I forgot to attach commit to this issue, but it's ready:)

Link to mentioned commit: 8ff3e8200e3c4f698b4bf9ed3a69b8c58b38c809

[2016-05-26 12:08] #16 closed

[2016-05-26 18:56] ItAlja commented on #5
Guys, how can I help you in this project ? What can I do ?
regards,
Ola

[2016-05-29 20:03] MarcinKosinski commented on #19
You can write in documentation file, that this function is copied from `FSelector`package and we can provide a link to CRAN?

[2016-05-29 20:04] MarcinKosinski commented on #20
@DSkrzypiec you can close thise issue after you read Zygmunt's message

[2016-05-29 20:04] MarcinKosinski commented on #5
@ItAlja what would you say about that: https://github.com/mi2-warsaw/FSelectorRcpp/issues/13#issuecomment-221098415 ?

[2016-05-29 20:06] MarcinKosinski commented on #3
It looks like we probably won't have huge aspirations for sponsorship. If anyone have any ideas in the future, feel free to open this issue. It'll be easier If one of us were a scientist with science grand

[2016-05-29 20:06] #3 closed

[2016-05-30 13:42] #20 closed

[2016-05-31 21:01] ItAlja commented on #5
@MarcinKosinski could you please describe for me more briefly what should I do ? Using what code,  what kind of date ? My own, random ?
What did you actually mean by that: "provide some real test examples for greedy_search and exhaustive_search"
I'm a little bit out of the main project path and I'm not sure if I understand you correctly.
Thanks (:

[2016-06-01 07:55] MarcinKosinski commented on #19
Moreover R is open-source and you can feel free to copy and re-use code :P

[2016-06-01 07:58] MarcinKosinski commented on #5
@zzawadz created greedy_search and exhaustive_search as equivalents for FSelector::exhaustive.search and FSelector::backward.search and FSelector::forward.search.

You might try to check whether original functions from FSelector and those new ones from FSelectorRcpp give the same results on a new example (new dataset and new feature) and if FSelectorRcpp is faster using microbenchmark::microbenchm

[2016-06-02 06:47] zzawadz commented on #5
Oki.

[2016-06-19 14:31] #19 closed

[2016-06-19 14:32] MarcinKosinski opened #21 "FSelectorRcpp on R-Bloggers"
First attempt to the release :)
http://www.r-bloggers.com/venn-diagram-comparison-of-boruta-fselectorrcpp-and-glmnet-algorithms/

[2016-06-19 14:33] MarcinKosinski commented on #21
@DSkrzypiec @zzawadz

[2016-06-25 23:45] #21 closed

[2016-06-28 14:00] zzawadz commented on #12
I changed this function cutOff_k to cutOff_attrs -> it is something very similar but works for both character vector and data.frame returned by information_gain. I think it's a bit better approach:)

And one question left - with k == 1 -> we should return all attrs, or only first?

[2016-06-28 14:06] zzawadz opened #22 "CRAN submission"
@MarcinKosinski what do you think about going to CRAN with first release? I think it's quite stable and information_gain works pretty well, so maybe it's time?

[2016-07-06 04:03] MarcinKosinski commented on #22
Let me have a greater look  at this package right now. I start right now.

[2016-07-06 04:04] MarcinKosinski opened #23 "maximize/minimize Information Criterion for GLM"
https://github.com/mi2-warsaw/FSelectorRcpp/issues/13#issuecomment-221098415

[2016-07-06 04:06] MarcinKosinski commented on #1
There were no proposiions for 5 months now. I am closing this as we will upload a package on CRAN soon with the simplest step search aglorihms basen on information_gain

[2016-07-06 04:06] #1 closed

[2016-07-06 04:22] MarcinKosinski opened #24 "Installation bug: cutOff.o:cutOff.cpp:(.text.startup"
@zzawadz I was trying to build package on Windows and it failed with such a warning.
More over regular devtools installation also fails with this warning

[code]

[2016-07-06 04:30] MarcinKosinski commented on #8
@zzawadz I've check parameter names in `Information_gain`
It is a little bit confusing right now :P

Can we have
1. `x = attributes, y = response`
2. `formula = response name ~ names in dataset, data = dataset`
parameters specification?

So when one specifies `x` and `y` then `data` and `formula` are not used, and symetrically one can specify `formula` and `data` without specifing `x` and `y`. In

[2016-07-06 04:43] MarcinKosinski opened #25 "Vignette: Benchmark"

[2016-07-06 05:07] MarcinKosinski commented on #24
It was for R version 3.2.3

For 3.3.1 I get

[code]

[2016-07-06 06:20] MarcinKosinski opened #26 "discretization specified by a user"
How discretization is being done right now? https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/src/discretize.cpp Do we cut continuous variable for 5 intervals where breaks are quantiles 20%, 40%, 60%, 80%?

Could this be specified by a user? On how many intervals this should be done? This could be an additional parameter in information_gain: intervals = 5 ?
The R logic for this parameter wou

[2016-07-06 06:20] MarcinKosinski commented on #26
@zzawadz

[2016-07-06 06:29] MarcinKosinski commented on #5
I am working on examples for exhaustive search in https://github.com/mi2-warsaw/FSelectorRcpp/issues/23

Talking about minimum viable product

We have prepared `information_gain` - entroby based filter algorithm with data frame and sparse matrix support with Rcpp and parallel backend. After I'll extend examples, provide a vignette and create benchmarks (which will also enable me to check this func

[2016-07-06 06:29] #5 closed

[2016-07-06 06:32] MarcinKosinski opened #27 "Suggest FSelector to use FSelectorRcpp where possible"
Issue in `After CRAN publication` miletsone

Ask author, and if he wishes then provide a PR with information.gain substition to information_gain
https://github.com/larskotthoff/fselector

[2016-07-06 06:32] MarcinKosinski opened #28 "Blog about FSelectorRcpp release"
Issue in `After CRAN publication` miletsone

[2016-07-06 06:32] MarcinKosinski opened #29 "Send e-mail to developers mailing list about FSelectorRcpp publication"
Issue in `After CRAN publication` miletsone

[2016-07-06 06:35] MarcinKosinski commented on #12
I think we should only have data.frame approach as this is default behaviour in feature selection processes.

For k == 1 it'l be good to return only 1 character. Returning all characters is done in information_gain :P

[2016-07-06 06:53] MarcinKosinski commented on #2
This can be closed so far as we are not planning rewriting more functions right now. We have few seraches, information gain (gain and symmetrical uncertainty) and cutoffs :) If one would like ever to rewrite more function than this can be opened

[2016-07-06 06:53] #2 closed

[2016-07-06 07:26] zzawadz commented on #24
Who's using windows?;)

I'll check this.

[2016-07-06 07:34] zzawadz commented on #24
Could you check your version of Rtools (it can be found in C:/Rtools/VERSION)? I have 3.3.0.1959, and everything works fine.

I'll add minimal R version requirement 3.3.0, because with this release comes new version of Rtools with much better support of C++11 (to_string() is from c++11).

So, try to update Rtools:)

[2016-07-06 07:39] zzawadz commented on #26
No - we use Fayyad & Irani's MDL method (this is our port from RWeka, see this - http://www.inside-r.org/packages/cran/RWeka/docs/Normalize).

We can add your method, if you want:)

[2016-07-06 07:43] zzawadz commented on #8
But it will spoil my beautiful S3 classes:)

But ok - I seems more consistent.

[2016-07-06 07:44] MarcinKosinski commented on #24
I think I had downloaded RTools in the moment I pushed `build` in RStudio.
I'll check that in home, as I have only Ubuntu at my work laptop

2016-07-06 9:34 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-06 07:45] MarcinKosinski commented on #26
Ok sory for being ignorant. So it's OK for me :) You can close this issue,
or we might think about letting user to choose discretization function and
set Fayyad & Irani's MDL as default function ?

2016-07-06 9:39 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-06 07:47] zzawadz commented on #24
I going to try to configure https://www.appveyor.com - it's CI for Windows.

[2016-07-06 07:52] zzawadz commented on #24
Hmm, It seems that I have no rights to add this project to https://www.appveyor.com :(

[2016-07-06 08:23] zzawadz commented on #8
I've implemented that, but I'm not really happy from it:(

In old version I was able to use it like that:

[code]

now I have to add this formula and data keywords:

[code]

[2016-07-06 08:25] zzawadz commented on #26
We can add this in the next version;)

[2016-07-06 08:31] MarcinKosinski commented on #24
I went to https://github.com/settings/connections/applications/
opened Appveyor CI application and granted acces for mi2-warsaw organization

2016-07-06 9:52 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-06 08:32] MarcinKosinski commented on #24
Ok it's now done
https://ci.appveyor.com/project/MarcinKosinski/fselectorrcpp
Do we need to add any `.yml` file to repository?

2016-07-06 10:31 GMT+02:00 Marcin Kosiński m.p.kosinski@gmail.com:

[2016-07-06 08:33] MarcinKosinski commented on #24
? devtools::use_appveyor()

2016-07-06 10:32 GMT+02:00 Marcin Kosiński m.p.kosinski@gmail.com:

[2016-07-06 08:37] MarcinKosinski commented on #8
Hmm

information_gain(Species ~ ., iris) - this looks great
information_gain(Species ~ ., y = iris) - looked confusing last time :/

so maybe let's do it like this - (reorder parameters)

information_gain <- function(formula, data, x, y)

so that

information_gain(Species ~ ., iris) this is default run where iris is data :) ?

2016-07-06 10:24 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-06 08:37] MarcinKosinski commented on #26
good idea. so for now let's close this and let's reopoen this if there will
be future versions

2016-07-06 10:25 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-06 16:43] MarcinKosinski commented on #24
The same RTools version as yours

This problem is explained here : http://stackoverflow.com/questions/7751640/undefined-reference-to-gxx-personality-sj0 but I don't understand much :P

[2016-07-07 13:41] MarcinKosinski opened #30 "BUG: snapping into wrong generation"
@zzawadz I am trying to write few benchmarks (issue: #25 )

But I get the Rcpp/C++ error that I can not trace to resolve

Code
[code]

error:

![snapping](https://cloud.githubusercontent.com/assets/6773454/16655150/538e307c-4459-11e6-99f2-74d1d958bf23.png)

[2016-07-09 08:09] zzawadz commented on #30
@MarcinKosinski could you rerun your code? I added simple fix:)

[2016-07-09 08:25] zzawadz commented on #25
There should be no non-standard directories in main directory of our pkg. See the note from R CMD check

[code]

I moved file from benchmarks to inst/benchmark. In general `inst` directory is a good place for all various things:)

[2016-07-09 09:55] zzawadz commented on #24
Could you reinstall `Rcpp, BH, RcppArmadillo`? I think it might be the case that they were build with older version of Rtools...

[2016-07-10 18:08] MarcinKosinski commented on #24
I think I had the newest packages' versions + RTools Haven't changed for more than half a year. I'll Try to reinstall everything on my Windows machine and let You know ASAP

[2016-07-11 08:32] MarcinKosinski commented on #24
@zzawadz I have reinstalled Rcpp / BH and RcppArmadillo but I think I had them in the newest versions.

I get the same warnings:

[code]

## Session info

[code]

[2016-07-11 08:36] MarcinKosinski commented on #25
So probably it should be a good idea to add `benchmarks` to `.Rbuildignore`.
I think that benchmarks would take too long, so they shouldn't been run during CRAN CHECK or during package BUILD. I'll add raw code of benchmarks to one of vignettes but I'll give a link in that vignette to results of those benchmarks that I will upload to FSelectorRcpp's website

[2016-07-11 08:38] MarcinKosinski commented on #24
@zzawadz but when I use `devtools::install_github` the package installs perfectly :P The status is `DONE` even thogh there are some pointers to `for loop`

Can you check whether this message tells that everything went well? If yes, then please close the issue.

[code]

[2016-07-11 09:26] zzawadz commented on #25
I think that everything placed in `inst` directory is not evaluated during build or check. Only thing from `tests` are used.

[2016-07-11 09:29] MarcinKosinski commented on #25
Good :) I'll move benchmarks to vignettes anyway :P

2016-07-11 11:26 GMT+02:00 Zygmunt Zawadzki notifications@github.com:

[2016-07-11 09:30] zzawadz commented on #24
Could you rebuild the package with `Clean and Rebuild` (it's under `more`)?
![image](https://cloud.githubusercontent.com/assets/3474533/16726061/8db348ce-475a-11e6-8dff-b6c319dc89ec.png)

Sometimes Rstudio caches something, and that might cause problems. I think that devtools runs without errors because it doesn't use those cached files.

[2016-07-11 11:05] MarcinKosinski commented on #30
Ok it worked :)! Thanks @zzawadz

[2016-07-11 11:05] #30 closed

[2016-07-11 11:06] MarcinKosinski commented on #24
Wow, I'll check that. Didn't know about tha `Clean` option.

[2016-07-11 11:28] zzawadz commented on #24
This is for simplifying compilation process.

From every file in `src` directory there is created compiled file with `.o` extension. And then from all those `.o` files the final dynamic library is created (`.so` on linux and `.dll` on Windows). When you rebuild package only only those files that were modified since last compilation are recompiled.

E.g:

[code]

Unfortunately, compiler does not kn

[2016-07-11 13:46] MarcinKosinski commented on #24
Should we then add `.o` files to .gitignore and at each time everyone would compile those files on his own machine?

[2016-07-11 17:09] zzawadz commented on #24
It's already there:)

`*.o` is added in near all versions of gitignores provided by github. Including R's one.

[2016-07-12 07:56] MarcinKosinski commented on #24
Whoah. Clean and Rebuild helped and now it builds without any errors. Thanks @zzawadz

[2016-07-12 07:56] #24 closed

[2016-07-12 07:57] MarcinKosinski commented on #12
Do you think only data.frame support is consistent approach :)?

[2016-07-12 07:58] MarcinKosinski commented on #22
blocked by #7 #23 #25

[2016-07-12 07:58] MarcinKosinski commented on #8
Thanks @zzawadz for this one :)

[2016-07-12 07:58] #8 closed

[2016-07-12 08:08] zzawadz commented on #24
Hurra!

[2016-07-12 09:24] zzawadz commented on #12
@MarcinKosinski
Better?:)

[2016-07-12 10:24] MarcinKosinski commented on #12
Thanks, good job :)

[2016-07-12 10:24] #12 closed

[2016-07-13 16:56] MarcinKosinski commented on #23
@zzawadz those are my few ideas that I'll implement
- maximize/minimize Information Criterion for GLM
- maximize AUC for classification model like SVM or random forests
- maximize adjusted R^2 for LM
- maximize precision (like in regular FSelector example)

[2016-07-15 10:37] MarcinKosinski commented on #13
@zzawadz what would you say about minimizing the amount of functions if possible like we have done with gathering gaino and symmuncertainty into `information_gain`?

What would you say about gathering `exhaustive_search` and `greedy_search` (and maybe in the future best_first_search) into one function with `type` argument?

propositions for new name
- feature_search(type = c("greedy", "exhaustive"

[2016-07-15 10:49] MarcinKosinski commented on #13
@zzawadz  The `greedy_search` and `exhaustive_search` could have the same output.
Now it is different:

### exhaustive

[code]

### greedy

[code]

Imho the approeach in exhaustive is too `fancy` and could be more `R-ish` - I mean the result could be a list, which is more conveninent for future automatization and pipelining?

Result of exhaustive search and greedy search could both be lists with (

[2016-07-15 10:53] MarcinKosinski opened #31 "maximize AUC for classification model like SVM or random forests"

[2016-07-15 10:53] MarcinKosinski opened #32 "maximize adjusted R^2 for LM"

[2016-07-15 10:54] MarcinKosinski opened #33 "maximize precision (like in regular FSelector example)"

[2016-07-15 10:54] MarcinKosinski opened #34 "Gather evaluators in one vignette"

[2016-07-15 21:07] zzawadz commented on #13
I think that I need to think, but probably you're right:)

Creating user interfaces is hard stuff for me;)

[2016-08-07 20:58] #32 closed

[2016-08-07 21:27] #23 closed

[2016-08-07 21:33] MarcinKosinski commented on #33
this example is alread copied from regular FSelector

[2016-08-07 21:33] #33 closed

[2016-09-07 10:33] MarcinKosinski opened #35 "Problem with installation"
@zzawadz have you seen http://r-addict.com/#comment-2879769941  ?

[2016-09-07 11:22] zzawadz commented on #35
@MarcinKosinski - strange - works for me...

I'll think about it...

[2016-09-07 11:36] MarcinKosinski commented on #35
There is a problem on appveyor: https://ci.appveyor.com/project/MarcinKosinski/fselectorrcpp

[2016-09-07 11:37] MarcinKosinski commented on #35
We can see `red X` marks near commits history that state the build is unstable :P
https://github.com/mi2-warsaw/FSelectorRcpp/commits/master

[2016-09-07 11:40] zzawadz commented on #35
Yeah, but it's a problem with RJava. I need to dive into appveyor, and find out why RJava cannot be loaded.

[2016-09-07 22:36] zzawadz commented on #35
I am waiting for a result:)

[2016-09-07 22:42] zzawadz commented on #35
@MarcinKosinski - appveyor fixed:D Another green badge! It's better than pokemon!

[2016-09-07 22:42] #35 closed

[2016-10-05 22:15] MarcinKosinski commented on #26
@zzawadz talking about discretization

I check our `discretization` function and for `iris` dataset so far it works the same as `RWeka::Discretization`

[code]

but the interface is different than in `RWeka::Discretization` which is more `formula`-ish

do you think this is possible to use formula in our `discretize` function?

PS this function is faster than RWeka : )

[code]

[2016-10-05 22:16] MarcinKosinski commented on #26
Ok sory, I see in the examples that this is possible :P

Shame on me....

[2016-10-06 05:23] MarcinKosinski commented on #26
@zzawadz  Ok I'm back : P

We have incosistence in the output of FSelectorRcpp::discretize:

[code]

Depending whether we spciefy arguments as formula, or as separete `x` and `y` we have a `data.frame` or a `factor` vector. In my opinion it should be unioned, and the closest solution is to be backward comptabile in logic with the baseline (FSelector).
- Could we always have a data.frame as a resul

[2016-10-18 10:12] zzawadz commented on #26
You're right.

[2016-11-04 05:42] rajanandthakur commented on #22
@MarcinKosinski Thanks for creating this package. Do you have any plan to include more feature selection method ... may be within k fold cross-validation to avoid selecting features which might overfit ?

[2016-11-04 13:54] MarcinKosinski commented on #22
This package was designed and created by @zzawadz : )

I think you can include your own feature evaluator in the
`exhaustive_search` and `greedy_search` function. The k fold
cross-validation is even included in examples, like here:
https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/R/param_search.R#L34

2016-11-04 6:42 GMT+01:00 Thakur Raj Anand notifications@github.com:

[2017-01-22 12:10] MarcinKosinski commented on #13
@krzyslom please unify the output of `greedy` and `exhaustive`

[2017-01-22 12:11] MarcinKosinski commented on #26
@krzyslom please have a look if `discretize` output is consistent : )
If not please reorganize.

[2017-01-22 12:13] MarcinKosinski commented on #25
@krzyslom could you please provide a benchmark for `discretize`?

log(time) vs observations' volume WRAPED for number of columns

[2017-01-24 15:38] MarcinKosinski commented on #31
It took so long that I do not rember what was this about : P

[2017-01-24 15:38] #31 closed

[2017-01-24 15:42] Quares commented on #31
It was about maximization of AUC for classification models (such as SVM,
random forests or other)

On Tue, Jan 24, 2017 at 4:38 PM, Marcin Kosiński <notifications@github.com>
wrote:

[2017-01-24 17:14] krzyslom commented on #26
@MarcinKosinski Briefly about overall style: changed equality signs to arrows, made brackets consistent and kept 80 characters max per line.

As for the output, there are 2 new convenience methods in utils file for handling input. I figured out that the simplest way to obtain consistent output is to mutate input of different classes and pass it to the formula method. Now one can pass a numeric vec

[2017-02-11 12:01] drowca opened #36 "Compilation error"
I got this error when trying to install the package. I run R version 3.2.5, Platform: x86_64-pc-linux-gnu (64-bit)

The error message pasted below:

g++ -std=c++0x -I/usr/share/R/include -DNDEBUG -fopenmp -I../inst/include  -I"/home/owca/R/x86_64-pc-linux-gnu-library/3.2/Rcpp/include" -I"/home/owca/R/x86_64-pc-linux-gnu-library/3.2/BH/include" -I"/home/owca/R/x86_64-pc-linux-gnu-library/3.2/RcppAr

[2017-02-11 15:26] MarcinKosinski commented on #36
@drowca do you Have RTools?
Can you also upload result of 'devtools::session_info()?'

[2017-02-13 11:37] drowca commented on #36
Session info ------------------------------------------------------------------------------
 setting  value
 version  R version 3.2.5 (2016-04-14)
 system   x86_64, linux-gnu
 ui       RStudio (0.98.490)
 language (EN)
 collate  pl_PL.UTF-8
 tz       <NA>
 date     2017-02-13

[2017-02-13 17:43] MarcinKosinski commented on #36
@drowca do you have RTools https://cran.r-project.org/bin/windows/Rtools/ ?

What about upgrading R to 3.3.2 - https://www.r-statistics.com/2013/03/updating-r-from-r-on-windows-using-the-installr-package/?

[2017-02-13 19:56] drowca commented on #36
I don't have RTools. I'm confused, the link you provided is for R on Windows and I run Linux, so do I need them?
Anyway, I'll upgrade R and I'll try to install FSelectorRcpp again, let's see if it helps.

[2017-02-13 21:28] drowca commented on #36
Done. R upgrade to ver 3.3.2 helped, the package was successfully installed. Thanks for the support.

[2017-02-14 10:50] krzyslom commented on #36
Thanks for reporting the issue. I've added R version dependency to the package. As for the RTools - it's Windows feature only. I tried to install FSelectorRcpp on Windows 7 and the pop-up came out with information that RTools has to be installed first. After this step there was no problem with installing FSelectorRcpp.

[2017-02-15 10:20] MarcinKosinski commented on #36
Good job  @krzyslom

[2017-02-15 10:20] #36 closed

[2017-02-20 20:40] MarcinKosinski commented on #26
Thanks @krzyslom for creating a unified output for various input types.
This function can be marked as checked and ready to go.

[2017-02-20 20:40] #26 closed

[2017-02-20 21:35] MarcinKosinski commented on #13
Thanks @krzyslom for unifying the result of those 2 functions.
I have updated and extended the documentation for this function and renamed few parameters and final values' names.

This function is checked and ready to go.

[2017-02-20 21:35] #13 closed

[2017-02-20 21:36] MarcinKosinski commented on #34
We have 3 evaluators in the `feature_search` function,  so far.

[2017-02-20 22:30] MarcinKosinski opened #37 "pkgdown website"

[2017-02-20 22:38] #37 closed

[2017-02-23 16:29] MarcinKosinski commented on #34
If we won't have ideas till sunday, I am closing this issue

[2017-02-23 16:30] MarcinKosinski commented on #25
http://mi2-warsaw.github.io/FSelectorRcpp/articles/benchmarks_discretize.html

[2017-02-23 16:30] #25 closed

[2017-02-23 16:31] MarcinKosinski commented on #22
@krzyslom @zzawadz after saturday's dev-hackathon I think we'll be ready for CRAN.
I even think we are now ready for CRAN but additional check from Ola and Ala with a fresh eye would be ok : )

[2017-02-25 10:19] agosiewska opened #39 "Incorrect output in information_gain function"
After taking wrong combination of parameters, function doesn't return any errors or warnings.
Example:
[code]

[2017-02-25 11:09] AleksandraDabrowska opened #42 "Cut_attrs documentation"
In description of argument k, should be a information that for k => 1 we get floor function of k.

[2017-02-25 11:19] AleksandraDabrowska opened #43 "cut_attrs - checking values"
Function should return warning or error when values at data.frame attrs aren't from [0,1].

[2017-02-25 11:46] MarcinKosinski commented on #43
Thanks for the idea. One might put values from other function that `information_gain` to the `cut_attrs` regarding that this was a gain of entropy.

[2017-02-25 11:46] #43 closed

[2017-02-25 11:59] AleksandraDabrowska opened #44 "feature_search documentation"
We should add to the arguments documentation that the deafult values for `mode` is `"greedy"` and for `type` is  `"forward"`.

[2017-02-25 12:23] #44 closed

[2017-02-25 12:26] #42 closed

[2017-02-25 13:06] MarcinKosinski opened #45 "Extend the 'keepAll/all' parameter's desc in discretize() as Users do not understand which Columns should be kept"

[2017-02-25 13:07] AleksandraDabrowska opened #46 "Discretize - arguments"
`discretize(x = iris[[1]], y = iris[[5]],k=2)`  - unused argument k , but there is no warning

`discretize(x = iris[[1]], y = iris[[5]], control = list(equalsizeControl(k = -1)), keepAll = TRUE, call = NULL)`  -for k smaller than zero or non-integer we should get error (R encountered a fatal error)

[2017-02-25 13:24] AleksandraDabrowska opened #47 "Vignettes"
![motivation](https://cloud.githubusercontent.com/assets/17699801/23331389/53ac055c-fb65-11e6-8d9d-a596c58ca21e.PNG)
- unfinished last sentence in http://mi2-warsaw.github.io/FSelectorRcpp/articles/get_started.html

![microbenchmark](https://cloud.githubusercontent.com/assets/17699801/23331396/7d9ec6ba-fb65-11e6-988a-ba003283d3b1.PNG)
- plot is too wide in http://mi2-warsaw.github.io/FSelectorRcpp

[2017-02-25 13:35] #47 closed

[2017-02-26 17:19] #45 closed

[2017-02-26 17:23] MarcinKosinski commented on #46
I have added special `stopifnot` condition to the `equalsizeControl` about `k`. I have renamed `keepAll` to `all` and extended it's documentation to be more clear.  Thanks for suggestions.

I can not fix anyway the issue with no warning when you pass unneeded parameters  as this is the deep Rcpp dependency issue :)

[2017-02-26 17:23] #46 closed

[2017-02-26 17:23] #34 closed

[2017-02-26 18:06] #39 closed

[2017-02-26 18:08] MarcinKosinski commented on #39
Thanks @agosiewska for the report! Check now this test - we are fully immune thanks to your adivce

[code]

# results

[code]

[2017-03-03 20:07] twolodzko opened #49 "include column with variable name in information_gain() output"
`information_gain()` returns single-column data.frame with importance scores:

[code]

This output is however not very friendly since names of the variables are provided as rownames. Instead they should rather be provided as additional column with their names. This would make them easier accessible from other functions.

Notice that using rownames to pass on additional information about data is ra

[2017-03-03 22:35] MarcinKosinski commented on #49
The idea Here is to provide as much compatibility with the original FSelector output as possible, since FSelectorRcpp is just rewritten and updated other package, called FSelector.

But addding additional column might not be such a bad idea. @zzawadz what do you think?

[2017-03-03 23:41] zzawadz commented on #49
Good point. I think that we shouldn't sacrifice usability for backward compatibility.

@twolodzko You're just in time.We are planning to submit our package to CRAN tomorrow;) But I think it will contain that feature:)

[2017-03-03 23:46] zzawadz commented on #22
@MarcinKosinski @krzyslom we are very close. I fixed all warning in cpp code, and some other small issues, and it should be fine.

[2017-03-04 07:45] #49 closed

[2017-03-04 07:50] zzawadz commented on #49
@MarcinKosinski @twolodzko can you play a bit with the new version?

[2017-03-04 09:28] MarcinKosinski commented on #49
I might prepare a new blog post about the release and play with some code. Does cut_attrs() know right now that the information_gain gives different result?

Marcin Kosinski

Dnia 04.03.2017 o godz. 08:50 Zygmunt Zawadzki <notifications@github.com> napisał(a):

[2017-03-04 09:30] MarcinKosinski commented on #22
Good job! Thanks

Marcin Kosinski

Dnia 04.03.2017 o godz. 00:46 Zygmunt Zawadzki <notifications@github.com> napisał(a):

[2017-03-05 19:07] twolodzko commented on #49
@MarcinKosinski  @zzawadz I'll play around and let you know if I have any further comments.

[2017-03-08 13:35] MarcinKosinski commented on #29
Check your e-mail. The news has been spread : )

[2017-03-08 13:35] #29 closed

[2017-03-08 13:36] MarcinKosinski opened #50 "resubmit properly computed vignettes on CRAN"

[2017-03-08 13:36] MarcinKosinski commented on #22
Ok the submision process is finished.
We just need to resubmit new version with proper vignettes - #50

[2017-03-08 13:36] #22 closed

[2017-03-08 13:38] MarcinKosinski commented on #7
Ok this is not an issue that can be solved.
This is my personal goal.

[2017-03-08 13:38] #7 closed

[2017-03-12 15:25] MarcinKosinski commented on #28
Closed with https://github.com/MarcinKosinski/MarcinKosinski.github.io/commit/eccf21a1aa3350f3cea917262ea418979c5c405e

[2017-03-12 15:25] #28 closed

[2017-03-12 22:12] #50 closed

[2017-03-15 08:46] larskotthoff opened #51 "Does FSelectorRcpp produce the same results as FSelector?"
Do you guys have any tests to check this? We're thinking of replacing FSelector with FSelectorRcpp in mlr, but we'd like to be sure that we remain reproducible.

@berndbischl

[2017-03-15 09:08] zzawadz commented on #51
For some functions - yes - see e.g. https://github.com/mi2-warsaw/FSelectorRcpp/blob/master/tests/testthat/test-information_gain.R

This is part of the code:
[code]

For other functions please send us a list of functionalities which must be checked against FSelector, and then we will prepare required tests to convince you that everything is fine:)

[2017-03-15 09:19] larskotthoff commented on #51
I'd love to see tests for all of the functions that users can call, ideally on a range of different inputs. Maybe using quickcheck (https://github.com/RevolutionAnalytics/quickcheck)?

[2017-03-15 09:21] larskotthoff commented on #51
Oh and once I'm convinced I'm willing to officially deprecate FSelector in favour of FSelectorRcpp.

[2017-03-15 09:24] zzawadz commented on #51
Ok. We will work on this.

Thanks!

[2017-03-15 09:27] MarcinKosinski commented on #51
@zzawadz another amazing challenge for FSelectorRcpp : )

Maybe it'll be the easiest way to include FSelectorRcpp in the FSelector

[2017-03-15 09:30] zzawadz commented on #51
@MarcinKosinski
Good idea. We can replace functionalities (inner implementation) in FSelector step by step to reach the convergence. @larskotthoff  What do you think?

[2017-03-15 10:07] larskotthoff commented on #51
Sounds good. Pull requests welcome!

[2017-03-15 11:10] MarcinKosinski commented on #51
So this can be closed - https://github.com/mi2-warsaw/FSelectorRcpp/issues/27 : ) @larskotthoff is aware of that we will suggest inner implementation

[2017-03-15 11:10] MarcinKosinski commented on #27
closed with
https://github.com/mi2-warsaw/FSelectorRcpp/issues/51#issuecomment-286696633

[2017-03-15 11:10] #27 closed

[2017-04-04 19:34] khotilov commented on #9
Handling of missing values would be a very useful feature for selectors that have simple algorithmic options for that. Please do not dismiss this issue.

E.g., here are two possible options for information gain:
- assume that missingness is completely at random, and redistribute the counts of missing values across other values in proportion to their frequency (default setting of Weka's `InfoGainAt

[2017-04-04 19:38] khotilov opened #52 "Error when column names are not syntactically valid variable names"
E.g., this results in error:
[code]
The problem comes from `attr(terms(a ~ ., data=df), "term.labels")` returning such column names enclosed in `` ` ` ``

[2017-04-05 10:08] MarcinKosinski commented on #9
@zzawadz if the second options is compatible with the FSelector, we might consider this : )

[2017-04-24 16:12] zzawadz opened #53 "Crash in 3.4.0"
Need fix!

[2017-05-10 16:20] #53 closed

[2017-05-10 17:46] MarcinKosinski commented on #52
@zzawadz @krzyslom : O

[2017-05-10 17:48] MarcinKosinski commented on #52
@khotilov I think the easiest way is not to use such `fancy` names : )

[2017-05-10 17:48] MarcinKosinski commented on #53
good job

[2017-05-12 12:36] #52 closed

[2017-06-30 19:30] zzawadz opened #54 "Segfault during covr"

[2017-06-30 21:18] #54 closed

[2017-06-30 21:19] zzawadz opened #55 "100% coverage"

[2017-07-30 12:31] krzyslom opened #57 "feature_search output"
feature_search returns data as list instead of data frame.

[2017-07-30 12:49] krzyslom opened #59 "R^2 example in feature search."
In documentation of feature_search the second example utilises R^2 statistic. It is trivial because the result will always be the best for the biggest model. I've tried the same thing with Adjusted R^2 and the result happens to be the same. Maybe we could think about a better example that will show the essence of feature selection?

[2017-07-30 16:19] krzyslom opened #60 "Discretize warning"
Discretize shows warning for skipped non numeric columns even for ```all = TRUE```.

[2017-07-30 17:40] krzyslom opened #62 "Enable dependent variable discretization the same as FSelector:::equal.frequency.binning.discretization"
```information_gain(formula = Sepal.Length ~ ., data = iris)``` results in warning ```We do not discretize dependent variable in FSelectorRcpp by default!```

Actually, why not?

[2017-07-30 17:53] krzyslom opened #63 "Different outputs for NA values."
[code]

This corresponds to #51 issue.

[2017-07-30 18:29] krzyslom opened #64 "cutOff_k description"
cutOff_k example is still based on rownames.

[2017-07-31 08:12] MarcinKosinski commented on #64
@krzyslom I see Here I have added some labels, but to be honest, They are added automatically :)

[2017-07-31 08:14] MarcinKosinski commented on #62
@krzyslom No idea. What happens in the FSelector?

[2017-07-31 08:16] MarcinKosinski commented on #62
Actually we could have this as an input parametr: 'discretize.dependent = FALSE' or something More sexy

[2017-07-31 08:17] MarcinKosinski commented on #59
It is not TRUE that the bigger model gets bigger R^2. Just try to add random variables to the model And R^2 will decrease with the number of random variables

[2017-07-31 08:17] #59 closed

[2017-07-31 08:19] MarcinKosinski commented on #57
I see now something opposite in your PR

[2017-07-31 08:20] MarcinKosinski commented on #55
A perfect candidate for a Won't fix :)

[2017-07-31 08:20] zzawadz commented on #62
Because to use MDL algorithm (our default used for discretization) uses the conditional entropy to find the splitting points. To calculate conditional entropy we need to have an independent and dependent variable. The question is - what should be an dependent variable for dependent variable in our case?

[2017-07-31 08:22] zzawadz commented on #55
Not really. I believe that shouldn't be such a big deal.

[2017-07-31 16:59] zzawadz opened #67 "Bug when list interface used inside function"
Example:

[code]

I'll fix that, so don't worry guys.

[2017-07-31 19:47] #60 closed

[2017-08-16 08:38] MarcinKosinski commented on #67
Thanks for the fix here! I wonder why the issue didn't close itself.

[2017-08-16 08:38] #67 closed

[2017-08-16 08:39] MarcinKosinski opened #69 "Get back to CRAN"

[2017-08-16 12:06] twolodzko commented on #69
Please consider editing the NEWS file to provide information for the users why did the package disappear from CRAN and what was fixed.

[2017-08-25 11:55] MarcinKosinski commented on #69
Is there a way I can help here somehow?

[2017-08-25 11:56] MarcinKosinski commented on #55
When an issue becames outdated? Do we have any X days limit?

[2017-08-25 11:57] MarcinKosinski commented on #62
@zzawadz maybe the `dependent` variable can be splitted by `quantiles` - maybe this is done for the `FSelector`?

[2017-08-25 16:27] zzawadz commented on #57
@krzyslom - should be fixed. I'm closing this.

[2017-08-25 16:27] #57 closed

[2017-08-25 16:50] zzawadz commented on #69
@MarcinKosinski I'll write an excuse why we were out of the CRAN (it was just a silly problem with building process), and resubmit the pkg.

[2017-08-28 08:51] MarcinKosinski commented on #63
@krzyslom I think `FSelectorRcpp` completly removes rows with `NAs` . Can you provide a summary of behaviour for `FSelector` in this case?

From `FSelector:::information.gain.body` -> `FSelector:::discretize.all` -> `FSelector:::supervised.discretization` I see

[code]

That `FSelector` removes only rows where `NA` is in the dependent variable.
So the only thing is to check how does `FSelector` (b

[2017-08-28 08:59] MarcinKosinski commented on #62
@krzyslom so for the dependent variable `FSelector` uses `FSelector:::equal.frequency.binning.discretization`

[code]

Could we add this as an option to FSelectorRcpp ?

[code]

This looks very similiar (if not the same) to the bindings by `quantile()`s.

[2017-08-28 09:07] MarcinKosinski commented on #51
Getting back to this thread.
FSelectorRcpp will be available on CRAN again soon (removed because lack of informtion of C++ dependency)  https://github.com/mi2-warsaw/FSelectorRcpp/issues/69

To enable `FSelectorRcpp` be a part of `FSelector` engine I think we could try
substituting

`FSelector:::information.gain.body()` function with the `FSelectorRcpp::information_gain()`. We need to polish `FSel

[2017-08-28 09:09] MarcinKosinski opened #71 "FSelector:::information.gain.body using FSelectorRcpp:::information_gain - become a part of the FSelector"

[2017-08-28 09:10] MarcinKosinski commented on #71
To be done after #62 #63 #51

[2017-09-01 13:48] krzyslom commented on #62
Done.

[2017-09-01 22:21] MarcinKosinski commented on #62
Perfect job @krzyslom !
Do we have any tests that verify new feature? Is so, please provide 2-3 examples Here And the close the issue (if the NEWS.md is updated with the Extra content About this feature).

PS. This is the regular way in which you state the issue was 'DONE' so you could provide those activities anyway, without being asked. Let's keep improving :)!

[2017-09-01 23:27] krzyslom commented on #62
@MarcinKosinski
Yes, the added test is in the penultimate commit. I don't understand, do you want me to provide a few examples here?

[2017-09-03 12:22] MarcinKosinski commented on #62
@krzyslom yeah, so that we dont have to install the package And lanych RStudio to verify if that is Actually working :)

[2017-09-07 22:15] MarcinKosinski commented on #69
We are back again!

[2017-09-07 22:15] #69 closed

[2017-09-07 22:17] MarcinKosinski commented on #62
I still don't believe this is done : P do I need to really install the package and write my own examples to verify?

[2017-10-25 12:40] MarcinKosinski opened #72 "Typos in the Movitation vignette"

[2018-10-19 04:11] RandomGuessR commented on #51
Hi, I am struggling to get the same results from FSelectorRcpp and FSelector - posted under this issue: [https://github.com/mlr-org/mlr/issues/1677#issuecomment-431234791](https://github.com/mlr-org/mlr/issues/1677#issuecomment-431234791).
The results I get are actually very different, and the impact on an end model is large.
Would appreciate your help if I am doing anything wrong.
Thanks!

[2018-10-19 08:22] zzawadz commented on #51
@RandomGuessR

FSelectorRcpp treats integer columns like factors, not numeric, and because of that, it does not discretize them before calculating the information gain. You need to cast the integers columns into numerics to get the same result:

 See the code below:

[code]

[2018-10-19 08:34] RandomGuessR commented on #51
Thanks for helping with this so quickly!
Might be good to document this difference somewhere in the package(s)

[2018-10-19 10:38] MarcinKosinski commented on #51
Kudos for Zzawadz

pt., 19 paź 2018, 10:34 użytkownik RandomGuessR <notifications@github.com>
napisał:

[2018-10-19 10:57] zzawadz commented on #51
@RandomGuessR @MarcinKosinski

I found an inconsistent behavior in FSelectorRcpp:( The `information_gain` does not discretize integers, but `discretize` do this:( I consider this as a bug, and I'll fix this.

[2018-10-19 11:03] zzawadz opened #74 "Add `integer2numeric` to `information_gain` and `discretize` functions."
Integer vectors are quite problematic because sometimes they might be treated as a numeric variable (to they should be discretized before calculating the information gain), however sometimes they might be used to encode a factor variable (e.g., days of a week, gender, and so on), so discretizing them is not a good idea;)

I'll add `integer2numeric` to control this behavior, and inform the users th

[2018-10-19 11:57] RandomGuessR commented on #51
Thanks @zzawadz.

After changing the data from integer to numeric, FSelectorRcpp works like a treat; really happy with the performance.
The RWeka-based implementation was too slow for most real-world practical purposes.

[2018-11-05 11:06] zzawadz commented on #74
Closed with https://github.com/mi2-warsaw/FSelectorRcpp/pull/75

[2018-11-05 11:06] #74 closed

[2018-11-05 11:18] MarcinKosinski opened #76 "Compare similarities and differences with FSelector and FSelecotrRcpp in a vignette"

[2018-11-05 11:27] zzawadz commented on #55
@MarcinKosinski today. We have 97%.

[2018-11-05 11:27] zzawadz commented on #72
@MarcinKosinski

[2018-11-05 11:30] MarcinKosinski commented on #55
Wow

pon., 5 lis 2018, 12:27: Zygmunt Zawadzki <notifications@github.com>
napisał(a):

[2018-11-05 11:30] MarcinKosinski commented on #72
Mmmkay

pon., 5 lis 2018, 12:27: Zygmunt Zawadzki <notifications@github.com>
napisał(a):

[2018-11-10 16:12] zzawadz commented on #51
### We (I should say me) decided that `FSelectorRcpp` will try to mimic the behavior of `FSelector` so that since 0.3.0 integers will be treated as numerics by default, not factors.

[2019-05-10 16:57] SteveBronder commented on #60
Didn't want to open a new issue, but compilation also shows a warning for a missing switch statement when compiling discretize

[code]

Didn't know if fall through was intended here so did not want to make a new issue

[2019-06-22 07:50] pat-s opened #78 "Filter request: Relief"
It would be great if the Relief filter from _FSelector_ is available as a C++ implementation.
We would like to use it in _mlr_ and _mlr3_.

cross-ref https://github.com/mlr-org/mlr3featsel/issues/38

[2019-07-13 15:04] hermidalc opened #80 "Installation bug: "Error in if (nzchar(SHLIB_LIBADD)) SHLIB_LIBADD else character(): argument is of length zero""
R 3.5.1 on Fedora 30 Linux

Error when trying to install:
[code]

[2019-07-13 15:07] hermidalc commented on #80
Sorry appears to be an issue with my R install

[2019-07-13 15:07] #80 closed

[2019-07-19 11:40] zzawadz commented on #78
@krzyslom can you look at this? We can start by porting this as is, and then gradually replacing parts with the C++ code.

[2019-07-19 11:44] zzawadz commented on #62
@krzyslom ping?

[2019-07-20 16:24] krzyslom commented on #62
@zzawadz I'll look into this next weekend.

[2019-07-20 16:25] krzyslom commented on #78
@zzawadz I'll investigate it next weekend.

[2019-07-27 21:47] krzyslom commented on #62
@zzawadz @MarcinKosinski

Warning and plain factorization with `equal = FALSE` (default)

[code]

Same results for `equal = TRUE` and `FSelector`

[code]

[2019-07-29 09:00] MarcinKosinski commented on #62
Awsome. Thank you for the effort. Great job

[2019-07-29 09:00] #62 closed

[2019-09-05 08:57] pat-s commented on #78
any update here? :)

[2019-09-05 15:00] krzyslom commented on #78
Hey @pat-s

I took a look at the function a while ago. Here are my thoughts.

1. Controversial silent behavior e.g.

[code]

The function prints passed value while calling it  *assumed*. Next the value is silently changed. This behavior occurs in several steps. Moreover we can pass `double` or a negative number to `sample.size` which does not make sense. Perhaps it is better to throw an error is s

[2019-10-15 19:34] hermidalc opened #81 "RWeka::Discretize works and produces correct results while FSelectorRcpp::discretize issues many "Cannot find any split points for `Col_XXX`. Drops this column." warnings and incorrect results"
I'm trying to use FSelectorRcpp::discretize as a drop-in replacement for RWeka::Discretize because it is so much faster and doesn't have to deal with the RJava mess.  RWeka::Discretize always works with any dataset and produces downstream results that are in line with expectations (where e.g I know the ground truth or when compared to other methods that do not use discretization).

But FSelectorRc

[2019-10-19 13:25] mbq opened #82 "Segfault in information_gain"
Hi,
I'm getting segfaults while trying to benchmark `information_gain` code; here is a minimal reproducible example that reliably breaks within few seconds, at least on Linux:
[code]
It works fine with threads=1, so I guess there is a race...

[2019-11-17 13:50] MarcinKosinski commented on #81
Hey @hermidalc can you provide a [reprex](https://www.tidyverse.org/help/)! and provide your `devtools::session_info()`?

[2019-11-17 13:53] MarcinKosinski commented on #82
Hey @mbq what's your System Info, R version, FSelectorRcpp version and gcc version?
Can't reproduce on

[code]

[2019-11-17 14:23] mbq commented on #82
For instance
[code]
with FSelRcpp v 0.3.1 (current CRAN) and gcc 9.2.0.

Regardless, IMHO it is a matter of how many physical cores you have, it crashed easily on Ryzen 1700, Epyc 7451, and two different i7-4790s, while on a two core laptop i7 6500U it seemed to work. Maybe Windows also helps.

[2019-11-17 16:51] MarcinKosinski commented on #82
Thanks for the issue. It is beyond my scope of knowledge, but we'll keep
that part in mind

On Sun, 17 Nov 2019, 15:23 Miron Kursa, <notifications@github.com> wrote:

[2019-11-17 22:32] mbq commented on #82
Well, you seem to be using R API, which generally isn't thread-safe, from within an OMP block; I don't know much about Rcpp, but it seems a likely culprit.

[2020-01-13 16:31] pat-s commented on #78
Sorry for the late follow-up.

I have no detailed knowledge about the algorithm but we would like to use a Rcpp version of it in both {mlr} and {mlr3filters}.

I just searched again and there is currently no other package implementing the RELIEF algorithm in R.

Compared to other filters, the java-based {FSelector} implementation takes really long. It would be a good enhancement if we could port t

[2020-01-15 17:08] zzawadz commented on #82
I can confirm this.

[code]

I'll try to find the issue.

[2020-01-15 17:23] zzawadz commented on #82
Probably need to use http://rcppcore.github.io/RcppParallel/

[2020-01-16 20:13] zzawadz commented on #82
Hm. It seems that I have a solution (but right now it's really ugly one).

[2020-01-17 20:30] zzawadz commented on #82
The solution is ugly and slow;) I'll think about something better.

[2020-01-20 20:33] zzawadz commented on #82
I removed the OpenMP backend for now. Better safe than sorry. I'll make a CRAN release without it, and then I'll try to make it fast again (but safe this time;))

[2020-01-22 18:56] mbq commented on #82
Ok. You can also take a look at my infotheo package, [praznik](https://gitlab.com/mbq/praznik); it is built on C API, so I managed to safely plug OpenMP just by ousting all R calls from parallel blocks.

[2020-01-22 18:56] #82 closed

[2020-04-20 15:06] leachau opened #84 "could not find function "size_max2DDiameterSlice"
Hi, Just wondering if you could help to find out why I am always getting this error message: "task 13 failed - "could not find function "size_max2DDiameterSlice"". I am running the feature_search on a dataset with more than 15 attributes and the dependent is binary yes or no. I am using your example codes ( both the tree and the BIC evaluators) with exhaustive search mode and forward type. They wo

[2020-04-24 15:56] #84 closed

[2020-05-26 10:00] piotr-ole opened #85 "Information gain equation in the documentation."
I have a question about the information gain equation from the FSelectorRcpp documentation. The definition of the information gain from the documentation is:
"
H(Class) +H(Attribute)−H(Class, Attribute)

where H(X) is Shannon's Entropy for a variable X and H(X, Y) is a conditional Shannon's Entropy for a variable X with a condition to Y.
"
But this doesn't fit in any form of information gain defit

[2020-05-26 19:07] #81 closed

[2020-05-26 19:07] MarcinKosinski commented on #78
CC @zzawadz

[2020-05-26 19:19] MarcinKosinski commented on #85
Hi @piotr-ole thanks for the message.
Indeed this should be `joint` entropy. Not sure how I put together the `conditional` 3 years ago when I made this commit https://github.com/mi2-warsaw/FSelectorRcpp/commit/13783932b3a124c2a3b7a31e1cb81bcf2c3edd73

Feel free to provide a PR with the updated documentation if you like. If not, I can update that in a couple of days!

[2020-05-26 19:24] MarcinKosinski commented on #85
I think I have the very same mistake here https://github.com/MarcinKosinski/MarcinKosinski.github.io/blob/master/_source/2017-01-11-Entropy-Based-Image-Binarization.Rmd#L186

[2020-06-24 15:38] #85 closed

[2020-07-17 20:58] pat-s commented on #78
bump :)

[2020-07-18 11:48] zzawadz commented on #78
I promise I'll loot at it. I think that I'll start from copying the whole function from FSelector and start replacing its parts with C++ code.

[2020-07-18 12:27] zzawadz commented on #78
My plan is like this:
1) contact author of this function and get approval for adapting his code? (do i need this? it's open source so maybe just mentioning the author will be sufficient - I have spent too much time in BigCo to be sure).
2) Adapt the code to use more FSelectorRcpp's like interfaces.
3) Remove `<<-` assignment (It's hard for me to reason about this code where it's used).
4) Rewrite

[2020-07-18 12:55] pat-s commented on #78
Sure, whatever works :) You are th C++ expert here 👍

[2020-07-18 13:39] MarcinKosinski commented on #78
I don't think you need to contact the author. Just provide a comment its
taken crom FSelecote for now. On the other hand the author of FSelector
vanished. The package just have a maintainer that looks after abandoned
package and that's not the original author

On Sat, 18 Jul 2020, 15:55 Patrick Schratz, <notifications@github.com>
wrote:

[2020-07-21 06:53] zzawadz commented on #78
@MarcinKosinski @krzyslom can you look at the relief branch? There's the current version. I think the api will stay as is (same approach as we're using in `information_gain`), so we can release it and then work on the speeding up the internals of `relief`.

Any more tests will be welcomed ;)

[2020-07-28 08:14] MarcinKosinski commented on #78
I might have some time this weekend!

wt., 21 lip 2020 o 08:53 Zygmunt Zawadzki <notifications@github.com>
napisał(a):

[2020-07-29 20:00] zzawadz commented on #78
Ok then. I'll schedule the release to Monday. @MarcinKosinski any uncaught errors will be your fault xD

[2020-08-02 10:05] MarcinKosinski commented on #78
Having trouble finding some spot to have a review. Maybe I'll look at that
in the evening or tmrw early in the morning.

śr., 29 lip 2020 o 22:01 Zygmunt Zawadzki <notifications@github.com>
napisał(a):

[2020-08-03 14:29] MarcinKosinski commented on #78
Looking now!

niedz., 2 sie 2020 o 12:04 Marcin Kosiński <m.p.kosinski@gmail.com>
napisał(a):

[2020-08-03 14:48] MarcinKosinski commented on #78
Hey, just created this PR https://github.com/mi2-warsaw/FSelectorRcpp/pull/86/files to check which files were changed.
I extended NEWS and added parameters verification. I'm good to merge to have the relief algorithm in the pkg copied from FSelector however I imagine the request here is to get the algorithm in C++ which is beyond my skills

[2020-08-07 12:22] zzawadz commented on #78
@MarcinKosinski I'll be porting this into cpp gradually;)

[2020-08-07 14:13] pat-s commented on #78
Thanks guys!! 🎉
Finally being able to avoid {FSelector}.

[2020-08-07 14:13] #78 closed

[2020-08-16 09:44] pat-s commented on #78
@zzawadz Do you have a rough ETA when this goes to CRAN?

[2020-10-06 15:28] pat-s commented on #78
Maybe @MarcinKosinski knows?

[2020-10-06 18:47] MarcinKosinski commented on #78
Looks like Zygmunt is doing some updates right now :)

On Tue, 6 Oct 2020, 17:28 Patrick Schratz, <notifications@github.com> wrote:

[2020-10-10 18:20] zzawadz commented on #78
@pat-s it's on CRAN now.

[2020-10-12 16:23] MarcinKosinski commented on #78
Kudos Zygmunt :)!

On Sat, 10 Oct 2020, 20:20 Zygmunt Zawadzki, <notifications@github.com>
wrote:

[2021-02-07 17:26] pat-s commented on #85
@MarcinKosinski An addition to this documentation discussion:

I think it could help to link the reference of Shannons entropy (Shannon 1984) to the help page.
Also currently it is now fully clear that `H(X)` expands into Shannons entropy as shown [here](https://github.com/MarcinKosinski/MarcinKosinski.github.io/blob/20dcbdac816b0f3184cadd22cfb19f2c29021a8b/_source/2017-01-11-Entropy-Based-Image-B

[2022-11-21 05:46] schienstockd commented on #80
@hermidalc I ran into this issue in a couple of Biocondutor packages - can you share what your solution was?

[2022-11-21 17:56] hermidalc commented on #80
@schienstockd use the conda prebuilt package https://anaconda.org/r/r-fselectorrcpp

[2022-11-21 18:02] hermidalc commented on #80
Also, if you aren't using Anaconda but instead Mambaforge/Miniforge (which I am) where this prebuilt package isn't available, I just tested the manual build on my Linux box, I created a conda-forge env with the only the latest `r-base` and then with it activated within R `install.packages("FSelectorRcpp")` and everything builds no problem.

[2022-11-21 22:58] schienstockd commented on #80
Great, Thanks! I had to clean up my conda environment a bit with `conda clean -a`. There were some packages that R got confused with.